@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 40% 9.8%;
    --card: 210 17% 98%;
    --card-foreground: 210 40% 9.8%;
    --popover: 210 17% 98%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 207 100% 15%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 16% 93.3%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 16% 93.3%;
    --muted-foreground: 210 8% 44.3%;
    --accent: 43 74% 66%;
    --accent-foreground: 207 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 13% 89%;
    --input: 210 13% 89%;
    --ring: 207 100% 15%;
    --radius: 0.5rem;
    --chart-1: 207 100% 15%; /* Primary */
    --chart-2: 210 16% 80%; /* Neutral */
    --chart-3: 93 46% 75%; /* Secondary */
    --chart-4: 43 74% 66%; /* Accent */
    --chart-5: 0 84.2% 60.2%; /* Destructive */
  }

  .dark {
    --background: 207 30% 10%;
    --foreground: 210 17% 98%;
    --card: 207 30% 10%;
    --card-foreground: 210 17% 98%;
    --popover: 207 30% 10%;
    --popover-foreground: 210 17% 98%;
    --primary: 43 74% 66%;
    --primary-foreground: 207 100% 15%;
    --secondary: 207 20% 15%;
    --secondary-foreground: 210 17% 98%;
    --muted: 207 20% 15%;
    --muted-foreground: 210 10% 60%;
    --accent: 207 100% 15%;
    --accent-foreground: 43 74% 66%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 20% 20%;
    --input: 207 20% 20%;
    --ring: 43 74% 66%;
    --chart-1: 43 74% 66%;
    --chart-2: 207 20% 40%;
    --chart-3: 93 46% 55%;
    --chart-4: 207 100% 25%;
    --chart-5: 0 62.8% 40.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
